<div class="container-fluid p-3">
    <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

    <h1 class="titulo">Formulário de usuário</h1>
    <h2 class="subtitulo">Cadasstro de usuários Usuário</h2>

    <form class="row" [formGroup]="formUser">
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="exemple-full-width w-100">
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="name" placeholder="Digite nome do usuário">
                @if (formUser.controls['name'].invalid){
                    <mat-error>Por favor digite um nome válido</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="exemple-full-width w-100">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Digite Email do usuário">
                @if (formUser.controls['email'].invalid){
                    <mat-error>Por favor digite um Email válido</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="exemple-full-width w-100">
                <mat-label>Setor</mat-label>
                <input type="text" matInput formControlName="sector" placeholder="Digite setor do usuário">
                @if (formUser.controls['sector'].invalid){
                    <mat-error>Por favor digite um setor válido</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="exemple-full-width w-100">
                <mat-label>Cargo</mat-label>
                <input type="text" matInput formControlName="role" placeholder="Digite cargo do usuário">
                @if (formUser.controls['role'].invalid){
                    <mat-error>Por favor digite um Cargo válido</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label> <mat-icon>favorite</mat-icon>Plano de Saúde</mat-label>
                <mat-select formControlName="healthPlan">
                    @for (plano of planosSaude; track plano){
                        <mat-option [value]="plano.descricao">{{ plano.descricao }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label> <mat-icon>favorite</mat-icon>Plano Odontológico</mat-label>
                <mat-select formControlName="dentalPlan">
                    @for (dental of planosOdonto; track dental){
                        <mat-option [value]="dental.descricao">{{ dental.descricao }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12">
            <button class="primary-button float-end" [disabled]="!formUser.valid" (click)="saveUser()">Salvar usuário</button> 
        </div>


    </form>

</div>
